<header>
<h1 class="my-3 text-center">Weekly</h1>
<img src="<%= image_path("4habits1.png")  %>" class="img-fluid" alt="Responsive image">
</header>



<%# ------------------------------------------------------------------------ %>
<div class="card-container">
  <div class="cards-list">
    <div class="steps">
      <i class="fas fa-search-location"></i>
      <h3>find your chef</h3>

    </div>
    <i class="fas fa-arrow-right"></i>
    <div class="steps">
      <i class="fas fa-calendar-alt fa-4x card-visual"></i>
      <h3>choose your dates</h3>
    </div>
    <i class="fas fa-arrow-right"></i>
    <div class="steps">
      <i class="fas fa-utensils"></i>
      <h3>ENJOY!</h3>
    </div>
  </div>
</div>
<%# ------------------------------------------------------------------------ %>

<!-- About section-->
<section id="about" class="my-4">
  <div class="container">
    <div class="row justify-content-center">

        <h5><strong>explore our top chefs</strong></h5><br>

    </div>
  </div>
</section>
