.card-index-activity {
  align-items: center;
  background: #adffff;
  width: 300px;
  height: 290px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
.description-card-activity {
  padding-left: 15px;
  padding-right: 15px;
}

.card-index-activity img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
  -webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
  mask-image: -webkit-gradient(linear, center top, center bottom,
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(1.00,  rgba(0,0,0,0)));
}

.btn-book-show {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0px;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.btn-primary {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.homepage-container {
  background-color: #BEF4ED;
}

.slot {
  border: 1px solid grey;
  border-radius: 30px;
}

.btn-search {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  background-color: $slate-blue;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
