
.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #adffff;
  width: 300px;
  height: auto;
  margin-top: 30px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(16, 15, 15);
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.btn-book {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
  align-items: center;
  margin-left: auto;
  margin-right: auto !important;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  //display: inline-block;

}

.btn-show {
  color: white;
  border-radius: 20px;
  background-color: $slate-blue;;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 24px;
  display: inline-block;
}


.h1 {
  margin-bottom: 20px;
}



.button {
   background-color: $slate-blue;
}


.info-text img {
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 170px;
}

.form-search {
  margin: 5px;
}
