
.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $tufts-blue;
  width: 300px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blanchedalmond;
  border-radius: 30px;

}

.btn-book {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
  align-items: center;
  margin-left: auto;
  margin-right: auto !important;
  text-align: center;
  margin-top: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  //display: inline-block;

}

.btn-show {
  color: white;
  border-radius: 20px;
  background-color: $slate-blue;;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 8px 24px;
  display: inline-block;


}

.strong {
  margin-top: 20px;
}

.h1 {
  margin: 20px;
  padding: 20px;
}



.button {
   background-color: $slate-blue;
}


.info-text img {
  width: 300px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 170px;
  margin-bottom: 15px;
}

.form-search {
  margin: 5px;
}

.h3 {
  margin: 30px;
  padding: 30px;
}
