
.show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 300px;
  height: 600px;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: black;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn-book {
  border-radius: 8px;
  background-color: #6930CD;
  align-items: center;
  //margin-left: auto;
  margin-right: 0px !important;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  padding: 8px 24px;
  //display: inline-block;

}

.btn-show {
  color: white;
  border-radius: 30px;
  background-color: black;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 8px 24px;
  display: inline-block;
}


.info-text {
 color: $charcoal;
}
