.card-index-activity {
  padding-bottom: 10px;
  align-items: center;
  background: $tufts-blue;
  width: 300px;
  height: 370px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blanchedalmond;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
.description-card-activity {
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.card-index-activity img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 170px;
  margin-bottom: 15px;
}

.btn-book-show {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 0px;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.btn-primary {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.homepage-container {
  background-color: #BEF4ED;
}

.slot {
  border: 1px solid grey;
  border-radius: 30px;
}

.btn-search {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  background-color: $slate-blue;
  margin-bottom: 20px;
  color: white;
  border: 1px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.h2 {
  font-size: 4rem;
  margin: 20px;
}
