.btn-book {
  text-decoration: none;
  background-color: #6930CD;
  display: inline-block;
  border-radius: 30px;
  color: rgb(250, 249, 249);
  margin-top: 0px;
  margin-bottom: 30px;
}

#back_booking_btn {
  background-color: #64E0DF;
  border-radius: 30px;
  padding: 8px 24px;
  color: $charcoal;
  margin-bottom: 20px;
}


.title-booking {
  margin-top: 30px;
  text-align: center;
  color: $charcoal;
}

.activity-image {
  background-image: url("https://source.unsplash.com/1000x660/?tennis,volleyball");
}

.main-card-booking {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: white;
  width: 300px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: $charcoal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  margin-bottom: 50px;
}

.slot-card-booking {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $charcoal;
  margin-bottom: 30px;
  height: 130px;
  border-radius: 10px;
  width: 250px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: $charcoal;
  margin-top: 20px;
}
