.custom-slot {
  justify-content: center;
  align-items: center;
  background-color: $tufts-blue!important;
  width: 300px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: white 0px 4px 16px;
  padding-bottom: 60px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blanchedalmond;
  border-radius: 30px;
}
