.container-dashboard {
  justify-content: center;
  align-items: center;
  background-color: $tufts-blue;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: blanchedalmond;
  border-radius: 12px;
}

.container-dashboard img {
  width: 100%;
  height: auto;
  //border-top-left-radius: 30px;
  //border-top-right-radius: 30px;
}

.links-dashboard a {
  color: $aquamarine;
  font-size: 1,7rem;
}
