// Specific CSS for your home-page
a:hover {text-decoration: none;}
.btn-home {
  padding: 8px 24px;
  border-radius: 30px;
  text-decoration: none;
  background-color: black;
  display: inline-block;
  justify-content: center;
  color:white;
  margin-top: 30px;

}

.btn-logout {
  padding: 6px 18px;
  border-radius: 30px;
  text-decoration: none;
  background-color:  black;
  display: block;
  color: rgb(250, 249, 249);
}

.btn-nav {
  padding: 6px 18px;
  border-radius: 30px;
  text-decoration: none;
  background-color: $charcoal;
  display: block;
  color: rgb(250, 249, 249);
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

.content-container {
  margin-top: 20px;
  margin-bottom:20px;
}


.img-fluid {
  margin-left: 6px;
  margin-right: auto;
  justify-content: center;
}
