// Specific CSS for your home-page
a:hover {
  text-decoration: none;
  color: rgb(250, 249, 249);
}


.btn-home {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration:none;
  background-color: $slate-blue;
  display: inline-block;
  justify-content: center;
  color:white;
  margin-top: 30px;
  border:3px solid white;
  margin-left: auto;
  margin-right: auto;

}

.btn-logout {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  border:3px solid white;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.btn-nav {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  display: block;
  color: white;
  border:3px solid white;
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

.content-container {
  margin-top: 20px;
  margin-bottom:20px;
}


.img-fluid {
  margin-left: 6px;
  margin-right: auto;
  justify-content: center;
}
