// Specific CSS for your home-page
.btn-home {
  padding: 8px 24px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #6930CD;
  display: inline-block;
  justify-content: center;
  color: rgb(250, 249, 249);
  margin-top: 30px;

}

.btn-nav {
  padding: 8px 24px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #6930CD;
  display: inline-block;
  color: rgb(250, 249, 249);
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

.content-container {
  margin-top: 20px;
  margin-bottom:20px;
}

.footer-links {
  padding-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fab {
  color: $charcoal;
}

.img-fluid {
  margin-left: 6px;
  margin-right: auto;
  justify-content: center;
}
