// Import page-specific CSS files here.
@import "home";
@import "layout";

.activity {
  border: 1px solid grey;
  border-radius: 30px;

}
// Import page-specific CSS files here.

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 150px; /* height of your footer */
}

.content-container {
  margin-top: 0px;
}

.cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.cards-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
