// Import page-specific CSS files here.
@import "home";
@import "layout";
@import "kids_index";
@import "activities_show";
@import "index_styles";

.body {
  background-color: $aquamarine;
}

.header {
  text-align: center;
  color: black;

}

.header h1 {

  justify-content: center;
  align-items: center;
  color: black;
}


@import "kids_show";
@import "book_activity";
@import "kids_new";

.card {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border:3px solid white;
  background: #BEF4ED;
  width: 300px;
  height: 340px;
  border-radius: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-shadow: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: black;
}

.btn-primary {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.homepage-container {
  background-color: #BEF4ED;
}

.slot {
  border: 1px solid grey;
  border-radius: 30px;
}
