#create_kid {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  display: block;
  color: white;
  border:3px solid white;
}

#back_btn {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  display: block;
  color: white;
  border:3px solid white;
  margin-left: 10px
}

#back_btn :hover {
  text-decoration: none;
}

#create_kid :hover {
  text-decoration: none;
}
