.booked-activity {
  border-radius: 30px;
  background-color: #48BFE3;
}

.booking-btn a:hover {
  text-decoration: none;
  color: rgb(250, 249, 249);
}

.booking-btn {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  display: block;
  color: white;
  border:3px solid white;
  margin: 10px;
}

.show_info_cards {
  justify-content: center;
  align-items: center;
  background: #64E0DF;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show_info_cards img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
}

.age_show img {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 22px;

}

.book-activity-show {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.booked_info_card {
  display: inline-block;
  background: #64E0DF;
  width: 200px;
  padding-top: 30px;
  height: 250px;
  border-radius: 30px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.booked_info_card img {
  width: 80px;
  height: 80px;
}

.cancel-booking-btn a {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 5px;
  text-decoration: none;
  text-align: auto;
  color: black;
  border: 2px solid black;
  text-align: center;
}

.cancel-booking-btn a:hover {
  text-decoration: none;
  color: rgb(250, 249, 249);
}
.arrow img {
  width: 37px;
  height: 37px;
  margin-left: 5px;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.booked-card-text {
  margin: 5px;
  padding: 5px;
  text-align: center;
  justify-content: center;

}
