body {
  background-color: #BEF4ED;
}

.card_kid {
  justify-content: center;
  align-items: center;
  background: #64E0DF;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: transform .2s;
}

.card_kid :hover {
  text-decoration: none;
  transform: scale(1.05);
}


.plus-icon img{
  width: 120px;
  height: 120px;
  opacity: 0.8;
}

.plus-icon {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  transition: transform .2s;
}

.plus-icon :hover{
  transform: scale(1.05)
}


.card_kid a h4 {
  color: rgb(15, 15, 15);
}

.card_kid img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.age img {
  width: 25px;
  height: 25px;
  margin-top: 0px;
}

#back_home_btn {
  background-color: $medium-turquoise;
  border-radius: 30px;
  padding: 8px 24px;
  color: white;
}
