#create_kid {
  background-color: #6930CD;
  border-radius: 30px;
  border: 0px;
  padding: 6px 20px;
  color: white;
}

#back_btn {
  background-color: #6930CD;
  border-radius: 30px;
  padding: 8px 24px;
  color: white;
  margin-left: 35px;
}

.back_btn :hover {
  text-decoration: none;
}
