.navbar-lewagon {
  justify-content: space-between;
  background: $gradient-bottom;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin: 10px;
}
