<div class="homepage-container">
  <div class='header'>
    <h1 class="ml-5">All Activities</h1>
  </div>

<% @activities.each do |activity| %>
  <div class="card" style="center: 4rem;">
    <div class="card-body">
      <h5 class="card-title"><h1><strong><%= activity.name %></strong></h1>
      <p class="card-text"> <%= activity.description.first(100)%> ...</h6></p>
      <%= link_to "details", activity_path(activity), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
</div>
