.book-activity {
  border-radius: 15px;
  background-color: #48BFE3;
}

.btn-book {
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #6930C3;
  display: inline-block;
  margin-right: 15px;
  border-radius: 30px;
  opacity: 0.8;
  color: rgb(250, 249, 249);
}
.activity-image {
  background-image: url("https://source.unsplash.com/1000x660/?tennis,volleyball");
}
