// Specific CSS for your home-page
.btn-home {
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #6930C3;
  display: inline-block;
  margin-right: 15px;
  border-radius: 30px;
  opacity: 0.8;
  color: rgb(250, 249, 249);
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

.content-container {
  margin-top: 0px;
  margin-bottom:20px;
}

footer-container {
 position: absolute;
 bottom: 0;
 width: 100%;
}

.fab {
  color:black;
}
