// Specific CSS for your home-page
.btn-home:hover {
  color: $cotton-candy;
  background-color: black;
}

.btn-home {
  font-size: 1.7em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 20px;
  // padding: 8px 24px;
  width: 150px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
  display: block

}



.btn-logout {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  border:3px solid white;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.btn-nav {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  display: block;
  color: white;
  border:3px solid white;
}

.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10px; /* height of your footer */
}

.content-container {
  margin-top: 20px;
  margin-bottom:20px;
}


.img-fluid {
  margin-left: 8px;
  margin-right: auto;
  justify-content: center;
}
