// Import page-specific CSS files here.
@import "home";
@import "kids_index";
@import "kids_show";
@import "book_activity";


.activity {
  border: 1px solid grey;
  border-radius: 30px;

}

.slot {
  border: 1px solid grey;
  border-radius: 30px;

}
