// Import page-specific CSS files here.
@import "home";
@import "layout";
@import "kids_index";
@import "kids_show";
@import "book_activity";
@import "kids_new";

.card {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: $medium-turquoise;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: $purple;
}

.btn-primary {
  border-radius: 8px;
  background-color: $purple;
  border: 4px black
}

.homepage-container {
  background-color: $aquamarine;
}

.slot {
  border: 1px solid grey;
  border-radius: 30px;

}
