// Import page-specific CSS files here.
@import "home";
@import "layout";
@import "kids_index";
@import "activities_show";
@import "index_styles";
@import "activities_index";
@import "slots_new";
@import "book_slot";

.body {
  background-color: $aquamarine;
}

.header {
  text-align: center;
  color: black;

}

.header h1 {
  justify-content: center;
  align-items: center;
  color: black;
}


@import "kids_show";
@import "book_activity";
@import "kids_new";
