// Import page-specific CSS files here.
@import "home";
@import "layout";
@import "kids_index";
@import "activities_show";
@import "index_styles";
@import "activities_index";
@import "slots_new";
@import "book_slot";

.body {
  background-color: $aquamarine;
  font-family: $body-font!important;
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.header {
  text-align: center;
  color: black;

}

.header h1 {
  justify-content: center;
  align-items: center;
  color: black;
}


@import "kids_show";
@import "book_activity";
@import "kids_new";

h1, h2, h3, h4, h5, h6 {
  font-family:$headers-font!important;
  font-weight: bold;
    line-height: 1;
}
