.body {
  background-color: $celeste;
}

.header {
  text-align: center;

}

.header h1 {

  justify-content: center;
  align-items: center;
  color: $vivid-sky-blue;
}


@import "kids_show";
@import "book_activity";
@import "kids_new";

.card {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #64E0DF;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $slate-blue;
}

.btn-primary {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.homepage-container {
  background-color: #BEF4ED;
}

.slot {
  padding: 8px 24px;
  border-radius: 20px;
  text-decoration: none;
  background-color: $slate-blue;
  color: white;
  border:3px solid white;
}

.form-group input {
  border-radius: 20px;
}

.form-control {
  border-radius: 20px;
}

.dropdown-menu {
  border-radius: 20px;

}

.custom-dropdown-item {}

.custom-dropdown-item:active {
  background-color: #8bd5d5 !important;
}

.container-dashboard {
  // padding: 20px 0 20px 0;
  // margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  background: $purple;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid white;
  color: white;
}

.show-container-slots {
  // padding: 20px 0 20px 0;
  // margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  background: $purple;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: white;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 3px solid white;
  color: white;
}
