
.booked-activity {
  border-radius: 15px;
  background-color: #48BFE3;
}

.btn-book {
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #6930C3;
  display: inline-block;
  margin-right: 15px;
  border-radius: 30px;
  opacity: 0.8;
  color: rgb(250, 249, 249);

.show_info_cards {
  justify-content: center;
  align-items: center;
  background: #64E0DF;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show_info_cards img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.age img {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 22px;

}
