.booked-activity {
  border-radius: 30px;
  background-color: #48BFE3;
  color: rgb(250, 249, 249);
}

.btn-book {
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  background-color: #6930C3;
  display: inline-block;
  margin-right: 15px;
  border-radius: 30px;
  opacity: 0.8;
  color: rgb(250, 249, 249);
}
